
.circle-word-waypoint {
    display: block;
    height: 16px;
    width: 16px;
    line-height: 16px;

    -moz-border-radius: 50%; /* or 50% */
    border-radius: 50%; /* or 50% */

    background-color: green;
    color: white;
    text-align: center;
    font-size: 14px;

    margin: 2px;

}

.circle-word-destination {
    display: block;
    height: 16px;
    width: 16px;
    line-height: 16px;

    -moz-border-radius: 50%; /* or 50% */
    border-radius: 50%; /* or 50% */

    background-color: red;
    color: white;
    text-align: center;
    font-size: 14px;

    margin: 2px;

}


.section-column {
    display: inline-flex;
}